coverage>=4.5.1
ccxt
cycler>=0.10.0
deribit-api
gdax>=1.0.6
Jinja2>=2.10
krakenex>=0.1.3
matplotlib>=2.2.2
mock>=2.0.0
nose>=1.3.7
numpy>=1.14.5
pandas>=0.23.3
scipy>=1.1.0
seaborn>=0.8.1
sphinx>=1.7.5
six>=1.10.0
requests>=2.13.0
tornado>=5.1
ujson>=1.35
websocket-client>=0.40.0
