aiostream>=0.3.1
ccxt>=1.18.529
cycler>=0.10.0
Jinja2>=2.10
matplotlib>=2.2.2
numpy>=1.14.5
pandas>=0.23.3
perspective-python>=0.1.6
scipy>=1.1.0
seaborn>=0.8.1
sphinx>=1.7.5
six>=1.10.0
requests>=2.13.0
tornado>=5.1
traitlets>=4.3.2
ujson>=1.35
websocket-client>=0.40.0