name: Build Status

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.9]
        node-version: [14.x]
        event-name: [push]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install yarn
      run: npm install -g yarn

    - name: Install system dependencies
      run: |
        sudo apt-get install libboost-dev
        wget https://github.com/pybind/pybind11/archive/v2.5.0.tar.gz && tar xfz v2.5.0.tar.gz && cd pybind11-2.5.0 && mkdir build && cd build && cmake .. -DPYBIND11_TEST=OFF && sudo make -j4 install
      if: ${{ matrix.os == 'ubuntu-latest' }}

    - name: Install system dependencies
      run: |
        brew install boost cmake pybind11
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel twine numpy pyarrow>=1. cpplint pyEX tqdm
        python -m pip install -e .[dev]
        cd js; yarn

    - name: Lint Python
      run: |
        make lintpy

    - name: Lint JS
      run: |
        make lintjs

    - name: Lint C++
      run: |
        make lintcpp

    - name: Type Annotate
      run: |
        make annotate

    - name: Test
      run: |
        make tests
      if: ${{ github.event_name == matrix.event-name || matrix.os == 'ubuntu-latest' }}

    - name: Test C++
      run: |
        make testpycpp
      if: ${{ github.event_name == matrix.event-name || matrix.os == 'ubuntu-latest' }}

    - name: Live tests
      run: |
        make testruns
      if: ${{ github.event_name == matrix.event-name || matrix.os == 'ubuntu-latest' }}

    - name: Twine check
      run: |
        make dist

    - name: Upload test results
      uses: actions/upload-artifact@v3
      with:
        name: pytest-results-${{ matrix.os }}-${{ matrix.python-version }}
        path: python_junit.xml
      if: ${{ always() }}

    - name: Upload coverage
      uses: codecov/codecov-action@v3
